@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #064E3B;
}


body {
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

/** links **/
.links {
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primary-links {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-links {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid;
    color: white;
}

/** list **/

.list-on-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1.1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navigation .nav-developer{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}


.navigation .links {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}